{%extends 'base.html'%}
{%block body%}
<div class="d-flex flex-row">
    <div class="mx-5">
        <h2 class="d-flex flex-column justify-content-center">Agregar Moto</h2>
        <div class="">
            <div class="card-body">
                <form action="/registrarMoto/" method="POST"> {%csrf_token%}
                   
                    <div class="form-group py-1">
                        <input type="text" id="txtModelo" class="form-control" name="txtModelo" placeholder="Modelo"
                            maxlength="50" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="text" id="txtMarca" class="form-control" name="txtMarca" placeholder="Marca"
                            maxlength="50" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="text" id="txtPrecio" class="form-control" name="txtPrecio" placeholder="Precio"
                            max="1000000" required>
                    </div>
                    <div class="py-1 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-75">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column mx-5 w-100">
        <h2>Listado de Motos</h2>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th class="text-center">Acciones</th>
                <tbody>
                    {%for moto in list_motos%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{moto.modelo}}</td>
                        <td>{{moto.marca}}</td>
                        <td>{{moto.precio}}$</td>
                        <td class="">
                            <div class="d-flex flex-row justify-content-center">
                                <a href="edicionMoto/{{moto.id}}"><button class="mx-1 btn btn-primary">Editar</button></a>
                                <a href="eliminarMoto/{{moto.id}}"><button class="mx-1 btn btn-danger">Eliminar</button></a>
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{%endblock%}